@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;

  font-size: 1rem;
  font-weight: 400;
  font-family: Outfit;

  color: hsl(30, 10%, 34%);
  line-height: 170%;
 
}

body{
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);

}

hr{
  margin: 2rem 0rem 1rem 0rem;
  color: hsla(31, 53%, 90%, 0.245);
}

h2{
  font-size: 2rem;
  font-weight: 700;
  font-family: Young-serif;
  color:  hsl(14, 45%, 36%);

  padding: .4rem 0rem;
}

.recipe-container{
  background-color: hsl(0, 0%, 100%);
  width: 41rem;
  padding: 2.6rem;
  border-radius: 1rem;
}

.omelette-img img{
  width: 41rem;
  height: auto;

  border-radius: 1rem;
  object-fit: cover;
}

.omelette-title h1{
  font-weight: 600;
  font-family: Young-serif;

  color: hsl(24, 5%, 18%);
  font-size: 3rem;
}

.preparation-box{
  background-color: hsl(330, 100%, 98%);

  padding: .6rem 2rem 1.6rem 2rem;
  border-radius: 1rem;

  margin-top: 1rem;
}

.preparation-box h2{
  color:  hsl(332, 51%, 32%);

  font-family: Outfit;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: .7rem;
}

span, .macro{
  font-weight: 700;
}

.macro{
  color: hsl(14, 45%, 36%);
}

.instruction-box,
.ingredient-box{
  margin-left: .6rem;
}

.ingredient-box li,
.instruction-box li,
.preparation-box li{
  margin-left: 1rem;
  padding-left: 1rem;
}

li::marker{
  color:hsl(14, 45%, 36%);
  font-weight: bold;
}

.table-container table{
  width: 100%;
}

.table-container table td{
  border-bottom: 1px  hsla(27, 15%, 88%, 0.668) solid;
  border-collapse: collapse;
  padding: .8rem;
}

.table-container td:nth-child(odd){
  padding-left: 2rem;
}

.table-container table td.table-end{
  border-bottom: none;
  padding-bottom: 0;
}

ol li{
  margin-top: .4rem;
}

/* MEDIA */

@media (max-width:375px){
  .recipe-container{
    min-width: 19.5rem;
  }

  body{
    padding-top: 3.8rem;
  }

  br{
    display: none;
  }

  .omelette-title h1{
    font-weight: 600;
    font-family: Young-serif;
    font-size: 2.6rem;

    line-height: 100%;

    margin-bottom: 1rem;
  }

  .omelette-img img{
    width: 26rem;
    border-radius: 0;

    position: absolute;
    top: 0;
    left: 0;
  }



}